In [1]:
print('Hello.')

Hello.

In [2]:
print(4)

4

# Header in markdown
This is now a *text*. There is **boldface** too.

Numbered list:
1. first item
2. second item

In [3]:
print('Hello.')

Hello.

In [4]:
7 * 3
2 + 1

3

In [5]:
print(7 * 3)
print(2 + 1)

21
3

$\sum_{i=1}^{N} 2^{-i} \approx 1$

In [6]:
age = 42
first_name = 'Ahmed'

In [7]:
print(first_name, 'is', age, 'years old.')
print('Done.')

Ahmed is 42 years old.
Done.

In [8]:
print(last_name)

NameError: name 'last_name' is not defined

In [26]:
last_name = 'Smith'

In [ ]:
who

In [ ]:
age = age + 3
print('Age in three years:', age)

In [ ]:
print('Age in three years:', age + 3)

In [ ]:
atom_name = 'helium'
print(atom_name[0])

In [ ]:
atom_name[1]

In [ ]:
print(atom_name[0:3])

In math, `[i:j]` means the set $[i,j)$.

In [ ]:
print(len(atom_name))

In [ ]:
print(Atom_Name)

In [ ]:
name = "Emily's apple"

In [ ]:
print(name)

In [ ]:
quote = 'She said "hi".'

In [ ]:
print(quote)

In [ ]:
x = 1.0

In [ ]:
y = 3.0

In [ ]:
swap = x

In [ ]:
x = y

In [ ]:
y = swap

In [ ]:
initial = 'left'
position = initial
initial = 'right'
print(position, initial)

In [ ]:
who

In [ ]:
initial = 'center'

In [ ]:
print(position)

In [13]:
age1 = 42
first_name = 'Ahmed 1'
print(first_name, 'is of age', age1)

Ahmed 1 is of age 42

In [ ]:
who

In [ ]:
del a

In [9]:
who

age	 first_name

In [14]:
type(42)

int

In [15]:
type('Ahmed')

str

In [16]:
type(first_name)

str

In [17]:
first_name[0]

'A'

In [18]:
type(age1)

int

In [19]:
age1[0]

TypeError: 'int' object is not subscriptable

In [21]:
type(str(42))

str

In [22]:
int('42')

42

In [23]:
int(first_name)

ValueError: invalid literal for int() with base 10: 'Ahmed 1'

In [24]:
age1 + 3

45

In [25]:
first_name + 3

TypeError: can only concatenate str (not "int") to str

In [28]:
first_name + ' ' + last_name

'Ahmed 1 Smith'

In [29]:
'=' * 10

'=========='

In [30]:
ahmeds_cake = 'i' * age1

In [31]:
print(ahmeds_cake)

iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

In [32]:
len(ahmeds_cake)

42

In [33]:
len(age1)

TypeError: object of type 'int' has no len()

In [34]:
first_name.upper()

'AHMED 1'

In [35]:
upper(first_name)

NameError: name 'upper' is not defined

$y = f(x)$

In [39]:
int(first_name.upper().lower()[-1])

1

$y = g(x)$ and $x = h(z)$ then $y = g(h(z))$

In [40]:
type(0.5)

float

In [43]:
type(1 / 0.5)

float

In [44]:
type(1 + 2)

int

In [45]:
float(2)

2.0

In [46]:
type(1.0 + 2.0)

float

In [47]:
type(1.0 * age1)

float

In [49]:
3 / 2

1.5

In [51]:
first_name[1]

'h'

In [52]:
social_security_number = 1234567

In [54]:
social_security_number = '0123456'

In [55]:
other_social_security_number = '1234567'

In [56]:
a = 1.9999999999909999999999999999999999999999999999999999999999

In [57]:
a

1.999999999991

# Functions

In [58]:
print('Hello')

Hello

In [59]:
max(1, 2, 3)

3

In [61]:
def convert_feet_to_inches(feet):
    return feet * 12

In [68]:
def convert_feet_to_inches(feet):
    # one foot is 12 inches
    return feet * 12

In [69]:
who

a	 age	 age1	 ahmeds_cake	 convert_feet_to_inches	 first_name	 last_name	 other_social_security_number	 social_security_number

In [70]:
type(convert_feet_to_inches)

function

In [71]:
convert_feet_to_inches(5)

60

In [72]:
def empty_function():
    2 + 2
    'Ahmed'.lower()

In [73]:
empty_function()

In [74]:
height = convert_feet_to_inches(5)

In [75]:
what_is_this = empty_function()

In [78]:
print(height)

60

In [80]:
print(what_is_this*5)

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [81]:
def add_feet_and_inches(feet, inches):
    return feet * 12 + inches

In [85]:
height = add_feet_and_inches(5, 11)

In [86]:
print(height)

71

In [84]:
feet = 7

In [88]:
add_feet_and_inches

In [92]:
add_feet_and_inches(inches=11, feet=5)

71

In [96]:
def print_date(year, month, day):
    print(year, '/', month, '/', day)

In [97]:
print_date(1871, 3, 19)

1871 / 3 / 19

In [98]:
result = print_date(1871, 3, 19)
print('Result is:', result)

1871 / 3 / 19
Result is: None

In [99]:
def print_date(year, month, day):
    print(year, '/', month, '/', day)
    return str(year)+'/'+str(month)+'/'+str(day)

In [101]:
result = print_date(1871, 3, 19)
#print('Result is:', result)

1871 / 3 / 19

In [102]:
result

'1871/3/19'

In [104]:
def convert_pounds_to_kgs(pound):
    return 0.45359 * pound

# November 17
## Lists, loops and dictionaries

In [1]:
type(5)

int

In [2]:
type(5.0)

float

In [3]:
type('5')

str

In [7]:
type(True), type(False)

(bool, bool)

In [6]:
type(true)

NameError: name 'true' is not defined

In [10]:
(2 + 2 == 5)

False

## Lists

In [12]:
pressures = [0.273, 0.275, 0.277, 0.275, 0.276]

In [13]:
type(pressures)

list

In [14]:
print('pressures: ', pressures)
print('length: ', len(pressures))

pressures:  [0.273, 0.275, 0.277, 0.275, 0.276]
length:  5

In [18]:
pressures[4]

0.276

In [15]:
pressures_tuple = (1, 2, 3)

In [16]:
type(pressures_tuple)

tuple

In [20]:
pressures[0:5]

[0.273, 0.275, 0.277, 0.275, 0.276]

In [21]:
pressures[0] = 0.265

In [22]:
pressures

[0.265, 0.275, 0.277, 0.275, 0.276]

Lists are "mutable"

In [23]:
pressures_tuple[0] = 0.265

TypeError: 'tuple' object does not support item assignment

Tuples are "immutable"

In [24]:
len(pressures)

5

In [25]:
pressures[5] = 0.4

IndexError: list assignment index out of range

In [26]:
pressures.append(0.4)

In [27]:
pressures

[0.265, 0.275, 0.277, 0.275, 0.276, 0.4]

In [28]:
help(pressures.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [29]:
pressures.insert(0, 0.9)

In [30]:
pressures

[0.9, 0.265, 0.275, 0.277, 0.275, 0.276, 0.4]

In [31]:
len(pressures)

7

In [32]:
other_sensor = [1.2, 1.3]

In [33]:
pressures.append(other_sensor)

In [34]:
pressures

[0.9, 0.265, 0.275, 0.277, 0.275, 0.276, 0.4, [1.2, 1.3]]

In [35]:
len(pressures)

8

In [36]:
pressures[7]

[1.2, 1.3]

In [37]:
pressures[6]

0.4

In [38]:
type(pressures[7])

list

In [39]:
pressures[7][0]

1.2

In [40]:
del pressures[7]

In [41]:
pressures

[0.9, 0.265, 0.275, 0.277, 0.275, 0.276, 0.4]

In [42]:
pressures.extend(other_sensor)

In [43]:
pressures

[0.9, 0.265, 0.275, 0.277, 0.275, 0.276, 0.4, 1.2, 1.3]

In [44]:
first_sensor = [0.5, 0.6]

In [45]:
first_sensor + other_sensor

[0.5, 0.6, 1.2, 1.3]

In [46]:
first_sensor

[0.5, 0.6]

```
A = A + B
A.extend(B)
```
are identical if A and B are lists. the latter is more efficient, though

In [47]:
empty_list = []

In [48]:
type(empty_list)

list

In [49]:
len(empty_list)

0

In [50]:
empty_list[0]

IndexError: list index out of range

In [51]:
empty_list.append('a')

In [52]:
empty_list

['a']

In [53]:
collection_of_things = [1, 1.4, 'text']

In [56]:
type(collection_of_things[1])

float

In [57]:
element = 'carbon'

In [58]:
element[0]

'c'

In [59]:
element[0] = 'C'

TypeError: 'str' object does not support item assignment

In [64]:
values = []
values.append(1)
values.append(3)
values.append(5)
print('first time: ', values)
values = values[1:3]
print('second time: ', values)

first time:  [1, 3, 5]
second time:  [3, 5]

In [65]:
values

[3, 5]

In [67]:
values.extend([6])

In [68]:
type([6])

list

In [69]:
values

[3, 5, 6]

In [70]:
list_of_words = ['apple', 'banana', 'date']

In [71]:
len(list_of_words)

3

In [72]:
len(list_of_words[0])

5

In [73]:
string_of_words = 'apple,banana,date'

In [74]:
type(string_of_words)

str

In [109]:
list_of_fruits = string_of_words.split(',')

In [110]:
string_of_words

'apple,banana,date'

In [111]:
list_of_fruits

['apple', 'banana', 'date']

In [76]:
date = '1994/01/01'
date.split('/')

['1994', '01', '01']

In [80]:
address = '1100, Favoriten, Quellenstrasse, 51'
address.split(', ')

['1100', 'Favoriten', 'Quellenstrasse', '51']

In [78]:
help(address.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [81]:
sentence = 'The quick brown fox jumped over.'

In [83]:
list_of_words = sentence.split()

In [84]:
len(list_of_words)

6

In [85]:
len(sentence)

32

In [86]:
''.join(list_of_words)

'Thequickbrownfoxjumpedover.'

In [91]:
messy_sentence = 'The     quick brown\t  fox'

In [92]:
tidy_sentence = ' '.join(messy_sentence.split())

In [93]:
tidy_sentence

'The quick brown fox'

In [95]:
'/'.join(['1994', '01', '01'])

'1994/01/01'

In [103]:
print('Here.\t\t There.')

Here.		 There.

In [98]:
print('Tab character is \\t.')

Tab character is \t.

In [99]:
print('First line.\nSecond line.')

First line.
Second line.

In [106]:
longer_text = 'First line.\nSecond line.\nThird line.'

In [107]:
longer_text.splitlines()

['First line.', 'Second line.', 'Third line.']

## For loops

In [112]:
for number in [2, 3, 5]:
    print(number)

2
3
5

In [117]:
for number in [2,3,5]:
    print(number)
print(number+1)

2
3
5
6

In [118]:
for i in [2,3,4]:
    print(i**2)

4
9
16

In [119]:
for fruit in ['apple', 'banana', 'date']:
    print(fruit.upper())

APPLE
BANANA
DATE

In [120]:
primes = [2, 3, 5]
for p in primes:
    squared = p**2
    cubed = p**3
    print(p, squared, cubed)
print('Done.')

2 4 8
3 9 27
5 25 125
Done.

In [121]:
for number in range(5):
    print(number)

0
1
2
3
4

In [122]:
for number in range(1,5):
    print(number)

1
2
3
4

In [126]:
for number, word in enumerate(list_of_words):
    print('Word number', number, 'is', word)
    print('Fruit number', number, 'is', list_of_fruits[number])

Word number 0 is The
Fruit number 0 is apple
Word number 1 is quick
Fruit number 1 is banana
Word number 2 is brown
Fruit number 2 is date
Word number 3 is fox

IndexError: list index out of range

In [125]:
list(enumerate(list_of_words))

[(0, 'The'),
 (1, 'quick'),
 (2, 'brown'),
 (3, 'fox'),
 (4, 'jumped'),
 (5, 'over.')]

In [127]:
pressures

[0.9, 0.265, 0.275, 0.277, 0.275, 0.276, 0.4, 1.2, 1.3]

In [128]:
total_pressure = 0.0
for p in pressures:
    total_pressure = total_pressure + p
print(total_pressure)

5.167999999999999

In [129]:
sum(pressures)

5.167999999999999

In [130]:
new_list_of_words = []
for word in list_of_words:
    new_list_of_words.append(word.upper())
print(new_list_of_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPED', 'OVER.']

In [132]:
'quick'.upper()

builtin_function_or_method

In [134]:
def hello_world():
    print('Hello world.')

In [135]:
hello_world()

Hello world.

# Conditionals (if/else)

In [137]:
mass = 2.0
if mass > 3.0:
    print(mass, 'is large')

In [138]:
3.54 > 3.0

True

In [139]:
if mass > 3.0:
    print(mass, 'is large')
else:
    print(mass, 'is small')

2.0 is small

In [142]:
masses = [3.54, 2.07, 9.22, 1.86, 1.71]
for m in masses:
    if m > 3.0:
        print(m, 'is large')
    else:
        print(m, 'is small')

3.54 is large
2.07 is small
9.22 is large
1.86 is small
1.71 is small

In [143]:
m

1.71

In [145]:
def square(m):
    return m**2
print(square(3))
print(m)

9
1.71

In [148]:
for mass in masses:
    print('Looking at', mass)
    if mass > 6.0:
        print('Found', mass)
        break

Looking at 3.54
Looking at 2.07
Looking at 9.22
Found 9.22

In [151]:
score = 69
if score <= 70:
    print('Grade is C.')
elif score <= 85:
    print('Grade is B.')
else:
    print('Grade is A.')

Grade is C.

In [152]:
def grade(score):
    if score <= 70:
        return 'C'
    elif score <= 85:
        return 'B'
    else:
        return 'A'

In [153]:
grade(69)

'C'

In [154]:
grade(86)

'A'

In [155]:
def grade(score):
    if score <= 70:
        return 'C'
    if score <= 85:
        return 'B'
    return 'A'

In [166]:
grade(-8)

'C'

In [158]:
grading_rubric = {'A': 85, 'B': 70, 'C': 50}

In [160]:
type(grading_rubric)

dict

In [161]:
grading_rubric

{'A': 85, 'B': 70, 'C': 50}

In [162]:
len(grading_rubric)

3

In [163]:
grading_rubric[0]

KeyError: 0

In [164]:
grading_rubric['A']

85

In [165]:
grading_rubric['B']

70

## Dictionary

In [170]:
john_entry = {'name': 'John', 'phone': '212-123-45678'}

In [171]:
salima_entry = {'name': 'Salima', 'phone': ['617-123-45678', '212-222-22222']}

In [172]:
salima_entry['phone']

['617-123-45678', '212-222-22222']

In [173]:
students = {1: john_entry, 2: salima_entry}

In [174]:
print(students)

{1: {'name': 'John', 'phone': '212-123-45678'}, 2: {'name': 'Salima', 'phone': ['617-123-45678', '212-222-22222']}}

In [176]:
students[1]

{'name': 'John', 'phone': '212-123-45678'}

In [177]:
students[1]['phone']

'212-123-45678'

In [182]:
students[2]['phone']

['617-123-45678', '212-222-22222']

In [180]:
students[2]['phone'][0]

'617-123-45678'

In [181]:
rubric = {'A': (85, 100), 'B': (70,84)}

In [183]:
grading_rubric

{'A': 85, 'B': 70, 'C': 50}

In [208]:
def grade(score, rubric):
    'Return a letter grade based on score [0,100]. Assume that rubric is in descending order of grade cutoff.'
    for key in rubric:
        if score >= rubric[key]:
            return key
    return 'F'

In [185]:
for item in grading_rubric:
    print(item, grading_rubric[item])

A 85
B 70
C 50

In [193]:
grade(52, grading_rubric)

'C'

In [194]:
more_lenient = grading_rubric
more_lenient['C'] = 40
grade(48, more_lenient)

'C'

In [195]:
more_lenient

{'A': 85, 'B': 70, 'C': 40}

In [196]:
john_entry

{'name': 'John', 'phone': '212-123-45678'}

In [197]:
john_entry['phone'] = '718-123-45678'

In [198]:
john_entry

{'name': 'John', 'phone': '718-123-45678'}

In [199]:
grading_rubric

{'A': 85, 'B': 70, 'C': 40}

Lists and dictionaries are not copied when assigned.

In [200]:
list_of_fruits

['apple', 'banana', 'date']

In [201]:
list_of_vegetables = list_of_fruits

In [202]:
list_of_vegetables.append('carrot')

In [211]:
print(list_of_fruits)
print(list_of_vegetables)

['apple', 'banana', 'date', 'carrot']
['apple', 'banana', 'date', 'carrot']

In [213]:
print('First:', list_of_fruits)
other_list_of_fruits = list_of_fruits.copy()
print('Then:', other_list_of_fruits)
del other_list_of_fruits[3]
print('Initial list after deletion:', list_of_fruits)
print('Copy after deletion:', other_list_of_fruits)

First: ['apple', 'banana', 'date', 'carrot']
Then: ['apple', 'banana', 'date', 'carrot']
Initial list after deletion: ['apple', 'banana', 'date', 'carrot']
Copy after deletion: ['apple', 'banana', 'date']

In [209]:
help(grade)

Help on function grade in module __main__:

grade(score, rubric)
    Return a letter grade based on score [0,100]. Assume that rubric is in descending order of grade cutoff.

This is called "docstring".

In [231]:
def factorial(n):
    # use the accumulate pattern
    output = 1
    for i in range(1, n+1):
        output = i * output
        # i = 0
        # you're not supposed to change a loop variable inside
    return output

Recursion: `factorial(n) = n * factorial(n-1)`. You almost never use this pattern in Python.

In [230]:
factorial(5) == 120

True

In [217]:
factorial(4)

24

In [223]:
list(range(1, 4+1))

[1, 2, 3, 4]

In [224]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [228]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Don'