In [1]:
print('Hello.')

Hello.

In [2]:
print(4)

4

# Header in markdown
This is now a *text*. There is **boldface** too.

Numbered list:
1. first item
2. second item

In [3]:
print('Hello.')

Hello.

In [4]:
7 * 3
2 + 1

3

In [5]:
print(7 * 3)
print(2 + 1)

21
3

$\sum_{i=1}^{N} 2^{-i} \approx 1$

In [6]:
age = 42
first_name = 'Ahmed'

In [7]:
print(first_name, 'is', age, 'years old.')
print('Done.')

Ahmed is 42 years old.
Done.

In [8]:
print(last_name)

NameError: name 'last_name' is not defined

In [26]:
last_name = 'Smith'

In [ ]:
who

In [ ]:
age = age + 3
print('Age in three years:', age)

In [ ]:
print('Age in three years:', age + 3)

In [ ]:
atom_name = 'helium'
print(atom_name[0])

In [ ]:
atom_name[1]

In [ ]:
print(atom_name[0:3])

In math, `[i:j]` means the set $[i,j)$.

In [ ]:
print(len(atom_name))

In [ ]:
print(Atom_Name)

In [ ]:
name = "Emily's apple"

In [ ]:
print(name)

In [ ]:
quote = 'She said "hi".'

In [ ]:
print(quote)

In [ ]:
x = 1.0

In [ ]:
y = 3.0

In [ ]:
swap = x

In [ ]:
x = y

In [ ]:
y = swap

In [ ]:
initial = 'left'
position = initial
initial = 'right'
print(position, initial)

In [ ]:
who

In [ ]:
initial = 'center'

In [ ]:
print(position)

In [13]:
age1 = 42
first_name = 'Ahmed 1'
print(first_name, 'is of age', age1)

Ahmed 1 is of age 42

In [ ]:
who

In [ ]:
del a

In [9]:
who

age	 first_name

In [14]:
type(42)

int

In [15]:
type('Ahmed')

str

In [16]:
type(first_name)

str

In [17]:
first_name[0]

'A'

In [18]:
type(age1)

int

In [19]:
age1[0]

TypeError: 'int' object is not subscriptable

In [21]:
type(str(42))

str

In [22]:
int('42')

42

In [23]:
int(first_name)

ValueError: invalid literal for int() with base 10: 'Ahmed 1'

In [24]:
age1 + 3

45

In [25]:
first_name + 3

TypeError: can only concatenate str (not "int") to str

In [28]:
first_name + ' ' + last_name

'Ahmed 1 Smith'

In [29]:
'=' * 10

'=========='

In [30]:
ahmeds_cake = 'i' * age1

In [31]:
print(ahmeds_cake)

iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

In [32]:
len(ahmeds_cake)

42

In [33]:
len(age1)

TypeError: object of type 'int' has no len()

In [34]:
first_name.upper()

'AHMED 1'

In [35]:
upper(first_name)

NameError: name 'upper' is not defined

$y = f(x)$

In [39]:
int(first_name.upper().lower()[-1])

1

$y = g(x)$ and $x = h(z)$ then $y = g(h(z))$

In [40]:
type(0.5)

float

In [43]:
type(1 / 0.5)

float

In [44]:
type(1 + 2)

int

In [45]:
float(2)

2.0

In [46]:
type(1.0 + 2.0)

float

In [47]:
type(1.0 * age1)

float

In [49]:
3 / 2

1.5

In [51]:
first_name[1]

'h'

In [52]:
social_security_number = 1234567

In [54]:
social_security_number = '0123456'

In [55]:
other_social_security_number = '1234567'

In [56]:
a = 1.9999999999909999999999999999999999999999999999999999999999

In [57]:
a

1.999999999991

# Functions

In [58]:
print('Hello')

Hello

In [59]:
max(1, 2, 3)

3

In [61]:
def convert_feet_to_inches(feet):
    return feet * 12

In [68]:
def convert_feet_to_inches(feet):
    # one foot is 12 inches
    return feet * 12

In [69]:
who

a	 age	 age1	 ahmeds_cake	 convert_feet_to_inches	 first_name	 last_name	 other_social_security_number	 social_security_number

In [70]:
type(convert_feet_to_inches)

function

In [71]:
convert_feet_to_inches(5)

60

In [72]:
def empty_function():
    2 + 2
    'Ahmed'.lower()

In [73]:
empty_function()

In [74]:
height = convert_feet_to_inches(5)

In [75]:
what_is_this = empty_function()

In [78]:
print(height)

60

In [80]:
print(what_is_this*5)

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [81]:
def add_feet_and_inches(feet, inches):
    return feet * 12 + inches

In [85]:
height = add_feet_and_inches(5, 11)

In [86]:
print(height)

71

In [84]:
feet = 7

In [88]:
add_feet_and_inches

In [92]:
add_feet_and_inches(inches=11, feet=5)

71

In [96]:
def print_date(year, month, day):
    print(year, '/', month, '/', day)

In [97]:
print_date(1871, 3, 19)

1871 / 3 / 19

In [98]:
result = print_date(1871, 3, 19)
print('Result is:', result)

1871 / 3 / 19
Result is: None

In [99]:
def print_date(year, month, day):
    print(year, '/', month, '/', day)
    return str(year)+'/'+str(month)+'/'+str(day)

In [101]:
result = print_date(1871, 3, 19)
#print('Result is:', result)

1871 / 3 / 19

In [102]:
result

'1871/3/19'